<div class="jumbotron jumbotron-fluid visible" style="background: url('images/about.jpg') no-repeat center center fixed; height:500px; background-size: cover;">
    <div data-ng-include="'/views/topnav.html'"></div>
</div>
<div class="container">
    <h1 align="center">About Me</h1>
    <p align="center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <div style="margin-top: 50px;">
        <div class="col-md-4 col-sm-12 col-xs-12">
            <div style="background-color: whitesmoke; height: 500px; width: 100%; margin: 10px; box-shadow: 4px 4px 2px #888888;">
                <div style="background: rgba(0, 0, 0, 0.6);">
                    <div align="center">
                        <div class="hidden-xs">
                            <div style="width: 150px; height: 150px; ">
                                <img src="images/avatar.png" style="height:100%; width:100%; border-radius: 50%">
                            </div>
                        </div>
                        <div class="visible-xs">
                            <div style="width: 200px; height: 200px; ">
                                <img src="images/avatar.png" style="height:100%; width:100%; border-radius: 50%">
                            </div>
                        </div>
                    </div>
                </div>
                <p align="center" style="margin:15px;font-size: 16px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <div style="background-color: whitesmoke; height: 500px; width: 100%; margin: 10px; box-shadow: 4px 4px 2px #888888;">
                <div style="background: rgba(0, 0, 0, 0.6);">
                    <div align="center">
                        <div class="hidden-xs">
                            <div style="width: 150px; height: 150px; ">
                                <img src="images/avatar.png" style="height:100%; width:100%; border-radius: 50%">
                            </div>
                        </div>
                        <div class="visible-xs">
                            <div style="width: 200px; height: 200px; ">
                                <img src="images/avatar.png" style="height:100%; width:100%; border-radius: 50%">
                            </div>
                        </div>
                    </div>
                </div>
                <p align="center" style="margin:15px;font-size: 16px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <div style="background-color: whitesmoke; height: 500px; width: 100%; margin: 10px; box-shadow: 4px 4px 2px #888888;">
                <div style="background: rgba(0, 0, 0, 0.6);">
                    <div align="center">
                        <div class="hidden-xs">
                            <div style="width: 150px; height: 150px; ">
                                <img src="images/avatar.png" style="height:100%; width:100%; border-radius: 50%">
                            </div>
                        </div>
                        <div class="visible-xs">
                            <div style="width: 200px; height: 200px; ">
                                <img src="images/avatar.png" style="height:100%; width:100%; border-radius: 50%">
                            </div>
                        </div>
                    </div>
                </div>
                <p align="center" style="margin:15px;font-size: 16px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
        </div>
    </div>
</div>
