<div class="container">
	
	<!-- Sample player -->
	<div class="col-md-6 col-sm-6 col-xs-12">
		<h1>Player Info</h1>
		<div class="col-md-12" style="height: 250px; background-color: lightgrey; border: solid white 2px;">
			<div style="width:100px;height:120px;border-radius: 50%; position: absolute;left: 0px;"><img ng-src='/images/squad/1.png' height="100%" width="100%" /></div>
			<div style="position: absolute;left:20%; top:10px;"><h1>John O' Brien</h1></div>
			<div style="position: absolute; left: 80%; top:40px;">Goalkeeper</div>
			<div style="position: absolute; left: 10%; top:140px;">15/09/1987</div>
			<div style="position: absolute; left: 30%; top:140px;">90kg</div>
			<div style="position: absolute; left: 60%; top:140px;">185cm</div>
			<div style="position: absolute; left: 10%; top:180px;">Ireland</div>
			<div style="position: absolute; left: 30%; top:180px;">Dublin</div>
			<div style="position: absolute; left: 60%; top:180px;">Right Footed</div>
		</div>
	</div>
	<div class="col-md-6 col-sm-6 col-xs-12">
		<h1>Team Info</h1>
		<div class="col-md-12" style="background-color: lightblue;height: 60px; border: solid white 2px;">
			<div style="width:50px;height:58px;border-radius: 50%; position: absolute;left: 0px;"><img ng-src='/images/squad/2.png' height="100%" width="100%" /></div>
			<div style="position: absolute; right: 30px;">Defender</div>
			<div style="position: absolute;left:60px;">Per Mertesacker</div>
		</div>
		<div class="col-md-12" style="background-color: lightblue;height: 60px; border: solid white 2px;">
			<div style="width:50px;height:58px;border-radius: 50%; position: absolute;left: 0px;"><img ng-src='/images/squad/2.png' height="100%" width="100%" /></div>
			<div style="position: absolute; right: 30px;">Defender</div>
			<div style="position: absolute;left:60px;">Per Mertesacker</div>
		</div>
		<div class="col-md-12" style="background-color: lightblue;height: 60px; border: solid white 2px;">
			<div style="width:50px;height:58px;border-radius: 50%; position: absolute;left: 0px;"><img ng-src='/images/squad/2.png' height="100%" width="100%" /></div>
			<div style="position: absolute; right: 30px;">Defender</div>
			<div style="position: absolute;left:60px;">Per Mertesacker</div>
		</div>
		<div class="col-md-12" style="background-color: lightblue;height: 60px; border: solid white 2px;">
			<div style="width:50px;height:58px;border-radius: 50%; position: absolute;left: 0px;"><img ng-src='/images/squad/2.png' height="100%" width="100%" /></div>
			<div style="position: absolute; right: 30px;">Defender</div>
			<div style="position: absolute;left:60px;">Per Mertesacker</div>
		</div>
		<div class="col-md-12" style="background-color: lightblue;height: 60px; border: solid white 2px;">
			<div style="width:50px;height:58px;border-radius: 50%; position: absolute;left: 0px;"><img ng-src='/images/squad/2.png' height="100%" width="100%" /></div>
			<div style="position: absolute; right: 30px;">Defender</div>
			<div style="position: absolute;left:60px;">Per Mertesacker</div>
		</div>
		<div class="col-md-12" style="background-color: lightblue;height: 60px; border: solid white 2px;">
			<div style="width:50px;height:58px;border-radius: 50%; position: absolute;left: 0px;"><img ng-src='/images/squad/2.png' height="100%" width="100%" /></div>
			<div style="position: absolute; right: 30px;">Defender</div>
			<div style="position: absolute;left:60px;">Per Mertesacker</div>
		</div>
	</div>
</div>