<div class="container">
    <div class="page-header">
        <h3>{{team.title}}</h3>
        <div style="width:200px;height:200px;border-radius: 50%;">
            <img ng-src={{team.crest}} height="100%" width="100%" />
        </div>
        <p>{{team.league}}</p>
    </div>
    <div class="fullArticleText">{{team.ground}}</div>
    
    <!-- Show all players -->
    <div ng-repeat="player in team.players">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="col-md-12" style="background-color: lightblue;height: 60px; margin: 5px;">
                <!-- <div>{{player.body}}</div> -->
                <div style="width:50px;height:60px;border-radius: 50%; position: absolute;left: 0px;"><img ng-src={{player.image}} height="100%" width="100%" /></div>
                <div style="position: absolute; right: 30px;">{{player.position}}</div>
                <!-- <div>{{player.dob}}</div>
                <div>{{player.weight}}</div>
                <div>{{player.height}}</div> -->
                
                <!--  <div>{{player.birthCountry}}</div>
                <div>{{player.birthCounty}}</div> -->
                <div style="position: absolute;left:60px;">{{player.firstName}} {{player.lastName}}</div>
                <!-- <div>{{player.foot}}</div> -->
                <div style="position: absolute; right: 10px;">+</div>
            </div>
        </div>
    </div>
    <div class="container">
        <!-- Modal -->
        <div class="modal fade" id="playerModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add a new player</h4>
                    </div>
                    <div class="modal-body">
                        <form data-ng-submit="addPlayer()" style="margin-top:10px;">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Player" ng-model="body"></input>
                                <input type="text" class="form-control" placeholder="firstName" ng-model="firstName"></input>
                                <input type="text" class="form-control" placeholder="lastName" ng-model="lastName"></input>
                                <input type="text" class="form-control" placeholder="DOB" ng-model="dob"></input>
                                <input type="text" class="form-control" placeholder="weight" ng-model="weight"></input>
                                <input type="text" class="form-control" placeholder="height" ng-model="height"></input>
                                <input type="text" class="form-control" placeholder="image" ng-model="image"></input>
                                <input type="text" class="form-control" placeholder="birthCountry" ng-model="birthCountry"></input>
                                <input type="text" class="form-control" placeholder="birthCounty" ng-model="birthCounty"></input>
                                <input type="text" class="form-control" placeholder="position" ng-model="position"></input>
                                <input type="text" class="form-control" placeholder="foot" ng-model="foot"></input>
                            </div>
                            <button type="submit" class="btn btn-primary">Add</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div align="center">
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#playerModal"><i class="icon-plus"></i> Add Player</button>
    </div>
    <div align="center">
        <span data-ng-click="deleteTeam(team)">
            <a href="#/home"><button type="button" class="btn btn-danger btn-lg"><i class="icon-trash"></i> Delete Team</button></a>
        </span>
    </div>
</div>