<div class="hidden-xs" style="background-color: lightblue; height:100px; width: 100%; margin-bottom: 20px;">
	<div>
		
		<div style="width: 100px; height: 100px; position: absolute;">
			<a href="#/home"><img src="images/avatar.png" style="height:100%; width:100%; border-radius: 50%"></a>
		</div>
		
		<div style="position: relative;">
			<nav id="menu">
				<ul align="center">
					<li><a href="#/home"><i class="icon-home"></i> home</a></li>
					<li><a href="#/about"><i class="icon-file-alt"></i> about</a></li>
					<li><a href="#/blog"><i class="icon-copy"></i> blog</a></li>
					<li><a href="#/players"><i class="icon-envelope"></i> players</a></li>
				</ul>
			</nav>
		</div>
		
	</div>
</div>
<div class="visible-xs" style="background-color: lightblue; height:50px; width: 100%; margin-bottom: 10px;">
	<div>
		<a href="#/home">
			<div style="width: 50px; height: 50px; position: absolute;">
				<img src="images/avatar.png" style="height:100%; width:100%; border-radius: 50%">
			</div>
		</a>
		<div style="position: relative;">
			<nav id="mobile-menu">
				<ul align="center">
					<li><a href="#/home">home</a></li>
					<li><a href="#/about">about</a></li>
					<li><a href="#/blog">blog</a></li>
					<li><a href="#/players">players</a></li>
				</ul>
			</nav>
		</div>
	</div>
</div>