
    <script type="text/ng-template" id="/contacts.html">
        <div class="jumbotron jumbotron-fluid visible" style="background: url('https://images.unsplash.com/photo-1420745981456-b95fe23f5753?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=c7992ffcac63dd7c07a156c12c4e9318') no-repeat center center fixed; height:500px; background-size: cover;">
            <div class="container">
                <nav id="menu">
                    <ul>
                        <li><a href="#/home"><i class="icon-home"></i> home</a></li>
                        <li><a href="#/about"><i class="icon-file-alt"></i> about</a></li>
                        <li><a href="#/blog"><i class="icon-copy"></i> blog</a></li>
                        <li><a href="#/contacts"><i class="icon-envelope"></i> contacts</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <h1>Contact Info</h1>
        <div style="width:500px; height:500px;background-color:red;">Test</div>
    </script>