/*Navbar Style*/

@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:700,300');
@import url('https://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css');
* {
    padding: 0px;
    margin: 0px;
    border: 0px;
    outline: 0px;
}

li {
    list-style: none;
}

#menu ul {
    position: relative;
    left: 25%;
    width: 50%;
    background: rgba(0, 0, 0, 0.6);
}

#menu li {
    display: inline-block;
    margin: 20px;
}

#menu li a {
    border-radius: 3px;
    padding: 5px;
    border: 1px solid transparent;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

#menu li a:hover {
    border-color: #fff;
}

#menu li a i {
    margin-right: 5px;
    font-size: 24px;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}


/*Navbar Style*/


/*Front Page Blog Style*/

.transparent {
    background: rgba(0, 0, 0, 0.6);
}

.articleContainer {
    width: 100%;
    height: 300px;
    position: relative;
    box-shadow: 4px 4px 2px #888888;
    margin-bottom: 20px;
}

.articleTitle {
    color: white;
    width: 40%;
    height: 30px;
    bottom: 100px;
    left: 30%;
    position: absolute;
    font-size: 20px;
}

.articleDate {
    color: white;
    width: 100px;
    height: 20px;
    right: 0px;
    top: 0px;
    position: absolute;
    font-size: 14px;
}

.articleContent {
    background-color: whitesmoke;
    width: 100%;
    height: 100px;
    bottom: 0px;
    position: absolute;
    font-size: 16px;
}

p.wrap {
    display: -webkit-box;
    height: $font-size*$line-height*$lines-to-show;
    margin: 0 auto;
    font-size: 14px;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}


/*Front Page Blog Style*/


/*Footer Style*/

#footer-container {
    margin-top: 100px;
}

#footer-container #footer {
    padding: 24px 0;
    border-top: 1px solid #e3e3e3;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 0.15em;
    background-color: #D9D9D9;
}


/*Footer Style*/

.fullArticleText {
    display: block;
    font-size: 16px;
    word-wrap: break-word;
    white-space: pre-wrap;
    line-height: 1.42857143;
    padding: 9.5px;
    margin: 0 0 10px;
    overflow: hidden;
}

